<!DOCTYPE html>
{% load staticfiles %}

<html>
<link rel="stylesheet" type="text/css" href="{% static 'web_ide/style.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/editor.js' %}"></script>
  <head>
    <title>WebIDE</title>
    <h1 align="center">WebIDE</h1>
    {% if user.is_authenticated %}
      <a href="web_ide/logout.html" style="float:right; margin-top: -40px; color: rgb(255,255,255);">logout</a>
    {% endif %}

  </head>

  <body class="toplayer">
    <div class="container">
    <!-- Page specific content goes here -->
    {% block body_block %}{% endblock %}
    </div>
  </body>
</html>
