html * {
     font-family: arial;
}

html {
      height: 100%;
}

body {
     height: 82%;
}

.toplayer {
	  background-color: #2CA3C7;
}

.container {
	  height: 100%;
	  margin: 6px;
	  padding: 6px;
	  background-color: white;
	  border-radius: 5px;
}

.editorpane {
	    height: 100%;
	    text-align: center;
	    padding: 3px;
	    margin: 3px;
}

.leftpane, .rightpane {
	  width: 20%;	
	  height: 98%;
	  outline: black solid thin;	  
}

.leftpane {
	  float: left;
	  background-color: #2CDB9B;
}

.rightpane {
	  float: right;
}

.centerpane {
	  width: 58%;
	  height: 98%;
	  display: inline-block;
	  outline: black solid thin;	  
}

.filecontentsview {
		  height: 90%;
		  width: 100%;
		  box-sizing: border-box;
		  padding: 5px;
		  text-align: left;
		  font-family: "Courier New", Courier, monospace;
		  font-size: 14pt;
		  background-color: #414141;
		  color: #FDFFC7;
		  overflow: scroll;
		  border: none;
		  outline: none;
		  resize: none;
}

.chatview {
	  height: 90%;
	  margin: 3px;
	  position: relative;
}

.entrywindow {
	     outline: black solid thin;
	     height: 25%;
	     width: 100%;
	     position: absolute;
	     bottom: 3px;
	     text-align: left;
	     overflow: scroll;
}