{% extends 'base.html' %}
{% block body_block %}

      <div class="editorpane">

	<div class="leftpane">
	  <button type="button" onclick="sendCode()" style="float:center;">Run</button>
          <button type="button" onclick="snapshot()" style="float:center;">Take Snapshot</button>
	  <div class="filebrowserview">
	  </div>
	</div>

	<div class="centerpane">

	  <div class="filename">
	    README.md
	  </div>
	  <textarea id="fileview" class="filecontentsview" spellcheck="false">{{ filetext }}</textarea>
	</div>

	<div class="rightpane">
	  <p>Chat</p>
	  <div class="chatview">
	    <div class="chatmessagedisplay">
	    </div>
	    <textarea class="entrywindow" placeholder="Enter message here!"></textarea>
	  </div>
	</div>

    <div class="bottompane">
        <textarea id="output" class="outputview" spellcheck="false" readonly>{{ outputtext }}</textarea>
    </div>

      </div>
<script>
//global variables

//the sync polling interval (in milliseconds). the shorter, the more responsive.
window['pollinginterval'] = 500

//polling ID, used to stop polling on demand
window['pollingid'] = 0

//filename of the current file open
window['curfilename'] = "README.md"

//the client shadow for differential synchronization
window['shadow'] = "{% filter escapejs %} {{ clishadow }} {% endfilter %}"

//the caret position for this client, which we want to preserve
window['caretpos'] = 0

var fs = "{{ fs|escapejs }}";

//functions

function setSelectionRange(input, selectionStart, selectionEnd) {
  if (input.setSelectionRange) {
    input.focus();
    input.setSelectionRange(selectionStart, selectionEnd);
  }
  else if (input.createTextRange) {
    var range = input.createTextRange();
    range.collapse(true);
    range.moveEnd('character', selectionEnd);
    range.moveStart('character', selectionStart);
    range.select();
  }
}

function setCaretToPos (input, pos) {
  setSelectionRange(input, pos, pos);
}

//sets the caret position
function setCaret(pos) {
var range = document.createRange();
range.setStart($("#fileview")[0], pos);
range.collapse(true);
window.getSelection().removeAllRanges();
window.getSelection().addRange(range);
}

//pings the server for a sync update. The server does the computations and returns a text and updated shadow
//to the client.
function pingServer() {

//we need to keep & restore the caret position (if it was in focus)
var editorInFocus = $(".filecontentsview").is(":focus");
window['caretpos'] = $("#fileview")[0].selectionStart;

//send POST request with ajax

$.ajax ({
url: '/web_ide/editor/',
data: {clienttext: $("#fileview").val(), clientshadow: window['shadow'], csrfmiddlewaretoken:'{{csrf_token}}', filename: window['curfilename'], posttype: 'syncrequest'},
dataType: 'json',
type: "POST",
success: function(response) {
//update text in editor
$("#fileview").val(response.clienttext);
//restore the caret position if it was in focus
if(editorInFocus) {
    setCaretToPos(document.getElementById("fileview"), window['caretpos']);
}
//update client shadow
window['shadow'] = response.clientshadow;
$(".chatmessagedisplay").html(renderChat(response.chats));
}
})

}

//sets the sync function to run at the polling interval.
//originally responded to a button, but now will be called upon page loading.
function beginSync() {
window['pollingid'] = setInterval(pingServer, window['pollinginterval']);
}

//stops sync function until beginSync() is called again.
function stopSync() {
clearInterval(window['pollingid']);
}

//sleep function
function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
    }
  }
}


function snapshot() {
$.ajax({
url: '/web_ide/editor/',
data: {posttype: 'snapshot', csrfmiddlewaretoken: '{{ csrf_token }}'},
dataType: 'json',
type: "POST",
success: function(response) {
}
});
}

//click function for filebrowser.
//opens the new file in code editor window
function openFile(data) {

var filename = data;

stopSync();
//wait for old server responses
sleep(1000);
window['curfilename'] = filename;
$(".filename").text(filename);
//get new file data from server
$.ajax({

url: '/web_ide/editor/',
data: {filename: filename, posttype: 'openfile', csrfmiddlewaretoken: '{{ csrf_token }}'},
dataType: 'json',
type: "POST",
success: function(response) {
//update client text and shadow
$("#fileview").val(response.clienttext);
window['shadow'] = response.clienttext;
//set caret position to 0
window['caretpos'] = 0;
}

});

//restart sync
beginSync();

}

function tree(data, path) {    
    if (typeof(data) == 'object') {
        var ul = $('<ul>');
        var count = 0;
        for (var i in data) {
            count += 1;

            ul.append($('<li>').append($('<a>').text(i).attr('href','#').attr('data', (path + i).replace('undefineduserfiles/','')))).append(tree(data[i], path + i + "/"));
        }
        if(count > 0) { return ul; }
	else { return ''; }
    } else {       
        var textNode = document.createTextNode(' => ' + data);
        return textNode;
    }
}

function sendCode() {
var code = $(".filecontentsview").val();
$("#output").val("Compiling...");
//ajax
$.ajax({

url: '/web_ide/editor/',
data: { posttype: 'sendcode', src: code, csrfmiddlewaretoken: '{{ csrf_token }}'},
dataType: 'text',
type: "POST",
success: function(response) {
// display program output
//alert(response);
$("#output").val(response);
},
error: function() {
$("#output").val("Network failure, try again.");
}

});
} //end sendCode

function sendChat(msg) {
	  $.ajax({
	      url: '/web_ide/editor/',
	      data: {posttype: 'chatmsg', message: msg, csrfmiddlewaretoken: '{{ csrf_token }}'},
	      dataType: 'json',
	      type: "POST",
	      success: function(response) {
	          //in the future, refresh chat messages
	          //alert(response.messages);
	          $(".chatmessagedisplay").html(renderChat(response.messages));
	          
	      }
	  });
}

function renderChat(msgs) {
	  var ul = $('<ul>');
	  for (var item in msgs) {
	        ul.append($('<li>').text(msgs[item]));
	    }
	   return ul;
}

//start synchronization immediately when document is ready
$(document).ready(function() {

//load filesystem from json
var filesys = JSON.parse(fs);
$(".filebrowserview").append($('<ul>').addClass('filelist').append(tree(filesys), ""));

//hide list stuff
$('li').click(function() {
	    //if this is a folder
	    if($(this).next().prop('tagName') == "UL") {
	        //then collapse child views or whatever
	        $(this).next().slideToggle();
	    } else {
	        //open file
	        openFile($(this).children().first().attr('data'));
	    }
});

//set chat entry listener
$(".entrywindow").keypress(function(e) {
	    if(e.keyCode == 13) {
	        e.preventDefault();
	        var msg = $(this).val();
	        $(this).val('');
	        sendChat(msg);
	    }
});

beginSync();
});
</script>
{% endblock %}
