{% extends 'base.html' %}
{% block body_block %}    
      <div class="editorpane">
      
        <div class="leftpane">
	  <p>File Browser</p>
	  <div class="filebrowserview">
	    
	  </div>
	</div>

	<div class="centerpane">
	  <p>DummyFile.txt</p>
	  <p class="filecontentsview" spellcheck="false" contenteditable="true">Editing Area... try it!</p>
	</div>

	<div class="rightpane">
	  <p>Chat</p>
	  <div class="chatview">
	    <div class="entrywindow" contenteditable="true">
	      Enter Chat Text Here...
	    </div>	    
	  </div>
	</div>

      </div>
{% endblock %}
